<%= form_for @volunteer do |f| %>
<%= render 'shared/error_messages', object: f.object%>
  <h4>Basic Information</h4>
    <div class="form-group">
      <%= f.label :picture, "Volunteer Photo:" %>
        <%= f.file_field :picture %>
        <% if @volunteer.picture? %> 
          <%= image_tag @volunteer.picture.url, class: "pic-placeholder" %>
        <% else %>
        <% end %>
     </div>
        
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :first_name, "First Name:", class: "required" %>
        <%= f.text_field :first_name, class: "form-control" %> 
      </div>
      <div class="col-md-6">
        <%= f.label :last_name, "Last Name:", class: "required"%>
        <%= f.text_field :last_name, class: "form-control" %> 
      </div>
    </div>
        
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :email, "Email:", class: "required"%>   
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :mobile_phone, "Phone:", class: "required"%>
        <%= f.telephone_field :mobile_phone, class: "form-control" %> 
      </div>
    </div>
        
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :city, "City:", class: "required" %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :state, "State:", class: "required" %>
        <%= f.text_field :state, class: "form-control" %>
      </div>
    </div>
<br>
  <h4>Personal Information</h4>
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :birthdate, "Birthdate:", class: "required" %>
        <%= f.date_field :birthdate, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :gender, "Gender: To which gender identity do you most identify with?", class: "required"%>
        <%= f.select(:gender, options_for_select(['Female', 'Male', 'Other', 'Prefer Not to Answer'])) %>
      </div>
    </div>
        
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :employer, "Employer:", class: "required" %>
        <%= f.text_field :employer, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :position, "Position:", class: "required"%>
        <%= f.text_field :position, class: "form-control" %>
      </div>
    </div>
<br>
  <h4>Volunteer Interests and Availability</h4>
  <p><strong>Availability:</strong>  Select a day you're availabile.</p>
  <!-- style to make multiple checkbox options and style into columns -->
    <div class="form-group row">
      <div class="col-md-6">
        <%= check_box("volunteer", "avail_sun_am",{},"Sunday Mornings", nil) %><br>
        <%= check_box("volunteer", "avail_sun_pm",{},"Sunday Afternoons", nil) %><br>
        <%= check_box("volunteer", "avail_mon_am",{},"Monday Mornings", nil) %><br>
        <%= check_box("volunteer", "avail_mon_pm",{},"Monday Afternoons", nil) %><br>
        <%= check_box("volunteer", "avail_tue_am",{},"Tuesday Mornings", nil) %><br>
        <%= check_box("volunteer", "avail_tue_pm",{},"Tuesday Afternoons", nil) %><br>
        <%= check_box("volunteer", "avail_wed_am",{},"Wednesday Mornings", nil) %><br>
        <%= check_box("volunteer", "avail_wed_pm",{},"Wednesday Afternoons", nil) %><br>
        <%= check_box("volunteer", "avail_thr_am",{},"Thursday Mornings", nil) %><br>
        <%= check_box("volunteer", "avail_thr_pm",{},"Thursday Afternoons", nil) %><br>
        <%= check_box("volunteer", "avail_fri_am",{},"Friday Mornings", nil) %><br>
        <%= check_box("volunteer", "avail_fri_pm",{},"Friday Afternoons", nil) %><br>
        <%= check_box("volunteer", "avail_sat_am",{},"Saturday Mornings", nil) %><br>
        <%= check_box("volunteer", "avail_sat_pm",{},"Saturday Afternoons", nil) %><br>
  
        <%= f.label :skill, "List your volunteer skills and interests.", class: "required" %>
        <%= f.text_field :skill, class: "form-control" %>
    
    <%= f.label :volunteer_notes, "Notes regarding my skills and availability:"%>
    <%= f.text_area :volunteer_notes, cols: 100, rows: 3, class: "form-control" %>
    </div>
    </div>  
<!-- Add optionfor volunteer to select from repairs, drop box -->
<!--<%# select_tag 'repair_id', options_from_collection_for_select(@repair, :id, :type) %>-->
    <br>
    <%= f.submit "Save", class: "btn btn-dark"%>
<% end %>
