<style>
 
    .body {
        margin-top: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    h4 {
        color: #7ac043;
    }
    
    .picture {
        width: 100%;
        height: auto;
    }
</style>

<div class='body'>

    <h4>My Profile</h4>
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <% if @volunteer.picture? %>
                        <%= image_tag @volunteer.picture.url, class: "picture" %>
                <% end %>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                <p class="card-title"><b>Name:</b> <%= @volunteer.first_name %> <%= @volunteer.last_name %></p>
                <p class="card-text"><b>Email:</b> <%= @volunteer.email %></p>
                <p class="card-text"><b>Phone:</b> <%= @volunteer.mobile_phone %></p>
                <p class="card-text"><b>Location:</b> <%= @volunteer.city %>, <%= @volunteer.state %></p>
                </div>
            </div>
        </div>
    </div>
            
    <h4>Personal Information</h4>
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    <p class="card-text"><b>Birthdate:</b> <%= @volunteer.birthdate %></p>
                    <p class="card-text"><b>Employer:</b> <%= @volunteer.employer %></p>
                    <p class="card-text"><b>Gender:</b> <%= @volunteer.gender %></p>
                    <p class="card-text"><b>Position:</b> <%= @volunteer.position %></p>
                </div>
            </div>
        </div>
    </div>
    
    <h4>Skills/Interests & Availability</h4>
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    <p class="card-text"><b>Availability:</b> <%= @volunteer.availability %></p>
                    <p class="card-text"><b>My Skills:</b> <%= @volunteer.skill %></p>
                    <p class="card-text"><b>Notes regarding my skills and availability:</b> <%= @volunteer.volunteer_notes %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<%#<div>
    Show upcoming homes needing help, where volunteers can sign up for, based on skills they select. 
    <h4>View upcoming jobs below, from homeowners who could use your help!</h4>
    Add link to sign up to volunteer for job.
</div>

<div>
    Show jobs the volunteer has already signed up for, place on top right of page beside profile 
    <h4>Your Assigned Jobs</h4>
    Add link to remove job, to say they're not longer available. 
</div>
<div>
    Show homes the volunteer already completed? 
    <h4>Completed Jobs</h4>
    <h5>Thank you for making the following homes safe and accessible to families in our community!</h5>
</div> %>