<div class='profile-body'>

  <h4>My Profile</h4>
    
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-4">
          <% if @volunteer.picture? %>
            <%= image_tag @volunteer.picture.url, class: "picture" %>
          <% else %>
            <%= image_tag "http://turnersrepair.com/wp-content/uploads/2018/06/profile-clipart-generic-user-7-1.png", class:"pic-placeholder" %>
          <% end %>
        </div>
        <div class="col-1"></div>
        <div class="col-7">
          <p><strong>Name:</strong> <%= @volunteer.first_name %> <%= @volunteer.last_name %></p>
          <p><strong>Email:</strong> <%= @volunteer.email %></p>
          <p><strong>Phone:</strong> <%= @volunteer.mobile_phone %></p>
          <p><strong>Location:</strong> <%= @volunteer.city %>, <%= @volunteer.state %></p>
        </div>
      </div>
    </div>
            
  <h4>Personal Information</h4>
    
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-12">
          <p><strong>Gender:</strong> <%= @volunteer.gender %></p>
          <p><strong>Birthdate:</strong> <%= @volunteer.birthdate %></p>
          <p><strong>Employer:</strong> <%= @volunteer.employer %></p>
          <p><strong>Position:</strong> <%= @volunteer.position %></p>
        </div>
      </div>
    </div>
    
  <h4>Skills/Interests & Availability</h4>
    
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-12">
          <p><strong>Availability:</strong> <%= @volunteer.avail_sun_am %> <%= @volunteer.avail_sun_pm %>
          <%= @volunteer.avail_mon_am %> <%= @volunteer.avail_mon_pm %> <%= @volunteer.avail_tue_am %> 
          <%= @volunteer.avail_tue_pm %> <%= @volunteer.avail_wed_am %> <%= @volunteer.avail_wed_pm %>
          <%= @volunteer.avail_thr_am %> <%= @volunteer.avail_thr_pm %> <%= @volunteer.avail_fri_am %> 
          <%= @volunteer.avail_fri_pm %> <%= @volunteer.avail_sat_am %> <%= @volunteer.avail_sat_pm %></p>
          <p><strong>My Skills:</strong> <%= @volunteer.skill %></p>
          <p><strong>Notes regarding my skills and availability:</strong> <%= @volunteer.volunteer_notes %></p>
        </div>
      </div>
    </div>
 </div>

<%#<div>
    Show upcoming homes needing help, where volunteers can sign up for, based on skills they select. 
    <h4>View upcoming jobs below, from homeowners who could use your help!</h4>
    Add link to sign up to volunteer for job.
</div>
<div>
    Show jobs the volunteer has already signed up for, place on top right of page beside profile 
    <h4>Your Assigned Jobs</h4>
    Add link to remove job, to say they're not longer available. 
</div>
<div>
    Show homes the volunteer already completed? 
    <h4>Completed Jobs</h4>
    <h5>Thank you for making the following homes safe and accessible to families in our community!</h5>
</div> %>