<div>
<%= render 'shared/staff_banner' %>
<%= render 'welcome/nav_bar' %>
</div>
<div class="row icons">
  <div class="col-4">
    <img src="http://casa-alameda.org/wp-content/uploads/2016/11/volunteer-icon-grey.png" height=40px>
    <%= link_to 'Create Volunteer Profile', new_volunteer_path %>
  </div>
  <div class="col-4">
    <img src='https://static.thenounproject.com/png/1663528-200.png' width=40px>
    <%= link_to 'Create Homeowner Profile', new_owner_path %>
  </div>
  <div class="col-4">
    <img src='http://golfcartrentalsorlando.com/wp-content/uploads/2015/01/repair-2.png' width=40px>
    <%= link_to 'Create Repair', new_repair_path %>
  </div>
</div>

<div class="index-body">
  <div>
    <h2 class="center">VOLUNTEERS</h2> <br>
    <h4 class="center">Welcome Rebuilding Together of the Triangle Staff!</h4>
    <h4 class="center">Below is a list of your volunteers.</h4>
  </div>
  <% @volunteer.each do |volunteer| %>
  <div class="card_padding">    
    <div class="card lg-12" style="max-width: 100%;">
      <div class="row no-gutters">
        <div class="col-2">
          <% if volunteer.picture? %>
            <%= image_tag volunteer.picture.url, class:"picture" %>
          <% else %>
            <%= image_tag "http://turnersrepair.com/wp-content/uploads/2018/06/profile-clipart-generic-user-7-1.png", class:"pic-placeholder" %>
          <% end %>
          <br><br>
          <h5><%= volunteer.first_name %> <%= volunteer.last_name %></h5>
          <h6><i><%= volunteer.city %>, <%= volunteer.state %></i></h6>
        </div>
        <div class="col-3">
          <p class="green"><strong>Contact Info</strong></p>
          <p><strong>Email:</strong> <%= volunteer.email %></p>
          <p><strong>Phone:</strong> <%= volunteer.mobile_phone %></p>
          <p><strong>Location:</strong> <%= volunteer.city %>, <%= volunteer.state %></p>
        </div>
        <div class="col-3">
          <p class="green"><strong>Personal Info</strong></p>
          <p><strong>Gender:</strong> <%= volunteer.gender %></p>
          <p><strong>Birthdate:</strong> <%= volunteer.birthdate %></p>
          <p><strong>Employer:</strong> <%= volunteer.employer %></p>
          <p><strong>Position:</strong> <%= volunteer.position %></p>
        </div>
        <div class="col-4">
          <p class="green"><strong>Availability & Skills</strong></p>
          <p><strong>Availability:</strong> <%= volunteer.avail_sun_am %> <%= volunteer.avail_sun_pm %>
            <%= volunteer.avail_mon_am %> <%= volunteer.avail_mon_pm %> <%= volunteer.avail_tue_am %> 
            <%= volunteer.avail_tue_pm %> <%= volunteer.avail_wed_am %> <%= volunteer.avail_wed_pm %>
            <%= volunteer.avail_thr_am %> <%= volunteer.avail_thr_pm %> <%= volunteer.avail_fri_am %> 
            <%= volunteer.avail_fri_pm %> <%= volunteer.avail_sat_am %> <%= volunteer.avail_sat_pm %></p>
          <p><strong>Volunteer's Skills:</strong> <%= volunteer.skill %></p>
          <p><strong>Notes regarding volunteer's availability and skills:</strong> <%= volunteer.volunteer_notes %></p>
        </div>
      </div>
    </div>
   </div>
<% end %>
<br>
</div>
<br>
<%= render 'shared/footer' %>
