<div>
    <h1>Create a New Volunteer Profile</h1>
</div>

<div>
    <%= form_for @volunteer do |f| %>
        <div>
            <h4>Basic Information</h4>
        </div>
            <div>
                <div>
                    <h5>Volunteer Photo:</h5><%= f.text_field :picture, placeholder: 'Upload a profile picture.' %>
                </div>
                <div>
                    <h5>First Name:</h5><%= f.text_field :first_name %>
                </div>
                <div>
                    <h5>Last Name:</h5><%= f.text_field :last_name %>
                </div>
                <div>
                    <h5>Email:</h5><%= f.text_field :email %>
                </div>            
                <div>
                    <h5>Phone:</h5><%= f.telephone_field :mobile_phone %>
                </div>            
                <div>
                    <h5>City:</h5><%= f.text_field :city %>
                </div>            
                <div>
                    <h5>State:</h5><%= f.text_field :state %>
                </div>            
            </div>
        <div>
            <h4>Personal Information</h4>
        </div>
                <div>
                    <h5>Birthdate:</h5><%= f.date_field :birthdate %>
                </div>
                <div>
                    <h5>Gender:</h5><p>To which gender identity do you most identify with?</p>
                    <%= f.select(:gender, options_for_select([
                        ['Female', 'Female'],
                        ['Male', 'Male'],
                        ['Other', 'Other'],
                        ['Prefer Not to Answer', 'Prefer Not to Answer']])) %>
                </div>
                <div>
                    <h5>Employer</h5><%= f.text_field :employer %>
                </div>
                <div>
                    <h5>Position</h5><%= f.text_field :position %>
                </div>
                <div>
                    
                </div>
                <div>
        <div>
            <h4>Volunteer Interests and Availability</h4>
        </div>
                <div>
                    <h5>Availability. Select all that apply.</h5>
                        <!-- style to make options into columns -->
                        <div>
                            <div>
                            <%= check_box_tag(:availability_sundaymorning) %>
                            <%= label_tag(:availability_sundaymorning, "Sunday Morning") %>
                            <%= check_box_tag(:availability_sundayafternoon) %>
                            <%= label_tag(:availability_sundayafternoon, "Sunday Afternoon") %> 
                            </div>
                        </div>
                        <div>
                            <%= check_box_tag(:availability_mondaymorning) %>
                            <%= label_tag(:availability_mondaymorning, "Monday Morning") %>
                            <%= check_box_tag(:availability_mondayafternoon) %>
                            <%= label_tag(:availability_mondayafternoon, "Monday Afternoon") %>
                        </div>
                        <div>
                            <%= check_box_tag(:availability_tuesdaymorning) %>
                            <%= label_tag(:availability_tuesdaymorning, "Tuesday Morning") %>
                            <%= check_box_tag(:availability_tuesdayafternoon) %>
                            <%= label_tag(:availability_tuesdayafternoon, "Tuesday Afternoon") %>
                        </div>
                        <div>
                            <%= check_box_tag(:availability_wednesdaymorning) %>
                            <%= label_tag(:availability_wednesdaymorning, "Wednesday Morning") %>
                            <%= check_box_tag(:availability_wednesdayafternoon) %>
                            <%= label_tag(:availability_wednesdayafternoon, "Wednesday Afternoon") %>    
                        </div>
                        <div>
                            <%= check_box_tag(:availability_thursdaymorning) %>
                            <%= label_tag(:availability_thursdaymorning, "Thursday Morning") %>
                            <%= check_box_tag(:availability_thursdayafternoon) %>
                            <%= label_tag(:availability_thursdayafternoon, "Thursday Afternoon") %>
                        </div>
                        <div>
                            <%= check_box_tag(:availability_fridaymorning) %>
                            <%= label_tag(:availability_fridaymorning, "Friday Morning") %>
                            <%= check_box_tag(:availability_fridayafternoon) %>
                            <%= label_tag(:availability_fridayafternoon, "Friday Afternoon") %>
                        </div>
                        <div>
                            <%= check_box_tag(:availability_saturdaymorning) %>
                            <%= label_tag(:availability_saturdaymorning, "Saturday Morning") %>
                            <%= check_box_tag(:availability_saturdayafternoon) %>
                            <%= label_tag(:availability_saturdayafternoon, "Saturday Afternoon") %>
                        </div>
                </div>
                    <h5>Skill & Interests</h5>
                    <div>
                        <!-- Add optionfor volunteer to select from repairs -->
                        <!--< hidden_field_tag 'volunteer_id', @volunteer.id %>-->
                        <!--< select_tag 'repair_id', options_from_collection_for_select(@repair, :id, :type) %>-->
                    </div>
                <div>
                    <h5>Notes regarding my skills and availability:</h5>
                    <%= f.text_area :volunteer_notes, cols: 100, rows: 3 %>
                </div>
                <div>
                    <%= f.submit %>
                </div>
    <% end %>
</div>
