<style>
 
    .body {
        margin-top: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .center {
        text-align: center;
    }
    
</style>

<% if @volunteer == nil %>
    <div class='fixed-top'>
        <%= render 'banner' %>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-lg-7">
              <img src="https://www.rodgersbuilders.com/wp-content/uploads/Rebuilding_13.jpg" class="card-img" alt="...">
            </div>
            <div class="col-lg-5">
                <div class="card-body">
                    <h2 class="center">Individual Volunteer Opportunities</h2> <br>
                    <p>Rebuilding safe and healthy homes is made possible thanks to donations, corporate sponsorships and volunteer support. 
                    Opportunities are available to get involved for both groups and individuals.</p>
                    <p>We welcome individuals who want to volunteer on worksites or in the office.</p>
                    <h6>To get started, please create a new volunteer profile by clicking the link below.</h6>
                    <h6 class="center"> <%= link_to 'Create Volunteer Profile', new_volunteer_path %></h6>
                </div>
            </div>
        </div>
    </div>

<% else %>
    <div class='fixed-top'>
        <%= render 'banner' %>
        <%= render 'navbar' %>
    </div>
    <%= render 'profile' %>
<% end %>
