<%= form_for(@owner) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <h4 class="green">Personal Information</h4>
  <br>
    <div class="form-group row">
      <div class="col-4">
        <%= f.label  :first_name, class: "required" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= f.label  :middle_name %>
        <%= f.text_field :middle_name, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= f.label  :last_name, class: "required" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <%= f.label  :address, class: "required" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-4">
        <%= f.label  :city, class: "required" %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= f.label  :state, "State/Province/Region", class: "required" %>
        <%= f.text_field :state, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= f.label  :zip, "ZIP Code", class: "required" %>
        <%= f.text_field :zip, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <%= f.label  :phone, class: "required" %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>
      <div class="col-3">
        <%= f.label  :year, "Years lived in your current home" %>
        <%= f.select(:year, (1..30))%>
      </div>
      <div class="col-3">
        <%= f.label  :language %>
        <%= f.select(:language, options_for_select(['English', 'Spanish', 'Chinese', 'Vietnamese', 'French'], 'English')) %>
      </div>
      <div class="col-3">
        <%= f.label  :howd_you_hear, "How did you hear?" %>
        <%= f.select(:howd_you_hear, options_for_select(['Our website', 'Friend/Colleague', 'Mailed invitation',
        'Emailed invitation', 'Radio', 'Television', 'Internet search', 'Other'])) %> 
      </div>
    </div>
  <br>
  <h4 class="green">Emergency Contact Information</h4>
  <br>
    <div class="form-group row">
      <div class="col">
        <%= f.label  :em_contact_name, "Emergency contact(Name)", class: "required" %>
        <%= f.text_field :em_contact_name, class: "form-control" %>      
      </div>
      <div class="col">
        <%= f.label  :em_contact_phone, "Emergency contact(Phone)", class: "required" %>
        <%= f.text_field :em_contact_phone, class: "form-control" %>
      </div>
      <div class="col">
        <%= f.label  :em_contact_relationship, "Emergency contact(Relationship)", class: "required" %>
        <%= f.select(:em_contact_relationship, options_for_select(['Father', 'Mother', 'Brother', 'Sister', 'Child', 'Friend', 'Spouse', 'Partner', 'Assistant'], 'Friend')) %>
      </div>
    </div>
<%= f.submit "Save", class: "btn btn-dark"%>
</div>
<% end %>
