<%= form_for(@owner) do |f| %>
  <div class="field">
    <%= f.label  :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
    <%= f.label  :middle_name %>
    <%= f.text_field :middle_name, class: "form-control" %>
    <%= f.label  :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
    <%= f.label  :address %>
    <%= f.text_field :address, class: "form-control" %>
    <%= f.label  :city %>
    <%= f.text_field :city, class: "form-control" %>
    <%= f.label  :state, "State/Province/Region" %>
    <%= f.text_field :state, class: "form-control" %>
    <%= f.label  :zip, "ZIP Code" %>
    <%= f.text_field :zip, class: "form-control" %>
    <%= f.label  :year, "Years lived in your current home" %>
    <%= f.select(:year, (1..30))%>
    <%= f.label  :email %>
    <%= f.text_field :email, class: "form-control" %>
    <%= f.label  :phone %>
    <%= f.text_field :phone, class: "form-control" %>
    <%= f.label  :em_contact_name, "Emergency contact name" %>
    <%= f.text_field :em_contact_name, class: "form-control" %>
    <%= f.label  :em_contact_phone, "Emergency contact phone" %>
    <%= f.text_field :em_contact_phone, class: "form-control" %>
    <%= f.label  :em_contact_relationship, "Emergency contact relationship" %>
    <%= f.select(:em_contact_relationship, options_for_select(em_contact_relationship_options)) %>
    <%= f.label  :language %>
    <%= f.select(:language, options_for_select(language_options)) %>
    <%= f.label  :howd_you_hear, "How did you hear?" %>
    <%= f.select(:howd_you_hear, options_for_select(howd_you_hear_options)) %>
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg" %>

  </div>
<% end %>
