<div class="container">
  <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
        <% if current_user.role == "admin" %>
          <h1>The Owner List (<%= @owners.count %>)</h1>
          <ul>
           <% @owners.each do |owner| %>
              <li><%= link_to owner.full_name, owner %> - <%= owner.short_address %></li>
           <% end %>
          </ul>
        <% end %>

        <% if user_signed_in? && current_user.owner == nil%>
          <p><%= link_to "Create Owner", new_owner_path%></p>
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-warning btn-sm" %>
          <p><strong>Current user: </strong><%= current_user.email %> (Role: <%= current_user.role %>)</p>
        <% end %>
      </div>
  </div>
</div>
