<% if current_user.role == "admin" %>
  <div>
  <%= render 'shared/staff_banner' %>
  <%= render 'shared/admin_navbar' %>
  </div>
  <!--Admin role may not allow creation of volunteer and homeowner profiles or repairs,-->
  <div class="row icons">
    <div class="col-4">
      <img src="http://casa-alameda.org/wp-content/uploads/2016/11/volunteer-icon-grey.png" height=40px>
      <%= link_to 'Create Volunteer Profile', new_volunteer_path %>
    </div>
    <div class="col-4">
      <img src='https://static.thenounproject.com/png/1663528-200.png' width=40px>
      <%= link_to 'Create Homeowner Profile', new_owner_path %>
    </div>
    <div class="col-4">
      <img src='http://golfcartrentalsorlando.com/wp-content/uploads/2015/01/repair-2.png' width=40px>
      <%= link_to 'Create Repair', new_repair_path %>
    </div>
  </div> 
  <br>
  <h2 class="center">Homeowner's Index</h2>
  <p class="center"><i>Number of Homeowners (<%= @owners.count %>)</i></p>
  <% @owners.each do |owner| %>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        <h4><%= link_to owner.full_name, owner %></h4> 
        <i>,<%= owner.short_address %></i>
      </div>
    </div>
  <% end %>
<%#<%= render 'shared/footer' %>
<% end %>

<% if user_signed_in? && current_user.owner == nil%>
  <%= render 'banner' %>
  <div class="show-body">
    <div class="row">
      <div class="col-4">
        <p><strong>Current user: </strong><%= current_user.email %> (Role: <%= current_user.role %>)</p>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-warning btn-sm" %>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-7">
        <img src="https://static1.squarespace.com/static/5912015815d5db225b4ee4d7/t/59121721e4fcb5b8a14640a9/1494357821788/tumblr_mjco89cUVY1rkz363o1_1280.jpg?format=1500w" width=100%>
      </div>
      <div class="col-5">
        <div class="card-body">
          <h2 class="center">Support for Homeowners</h2> <br>
          <p>Rebuilding Together of the Triangle seeks to make a sustainable impact on preserving and 
          revitalizing homes and communities, assuring that low-income homeowners, from the elderly and disabled
          to families with children, live in safe, healthy homes in Chatham, Durham, Orange and Wake counties in
          North Carolina.</p>
          <p>Does your home need critical repairs? We can help! </p>
          <h6> To get started, create a new homeowner profile by clicking the link below.</h6><br>
          <h6 class="center"> <%= link_to 'Create Homeowner Profile', new_owner_path %></h6>
        </div>
      </div>
    </div>
  </div>
<br>
<%#<%= render 'shared/footer' %>
<% end %>
